@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;

	user-select: none;

	font-family: 'Inter', sans-serif;
}

:root {
	--absolute-white: #ffffff;
	--white: #e6e6e6;
	--grey: #999999;

	--red: #EC2351;
	--orange: #DB6239;
	--velvet: #8F3659;
	--purple: #602656;
	--blue: #2E1A4F;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

/* Constants */

.neuIndentShadow {
	box-shadow: 
		.2vh .2vh .2vh 0 var(--absolute-white),
		inset -.2vh -.2vh .2vh 0 var(--absolute-white),
		-.2vh -.2vh .2vh 0 var(--grey),
		inset .2vh .2vh .2vh 0 var(--grey)
    ;
}

.neuOutdentShadow {
	box-shadow: 
		.2vh .2vh .2vh 0 var(--grey),
		inset -.2vh -.2vh .2vh 0 var(--grey),
		-.2vh -.2vh .2vh 0 var(--absolute-white),
		inset .2vh .2vh .2vh 0 var(--absolute-white)
    ;
}