@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;

	user-select: none;

	font-family: 'Inter', sans-serif;
}

:root {


	/* --mainbg: #e6e6e6;
	--textbg1: #ffffff;
	--shadow1: #ffffff;
	--shadow2: #999999;
	--text1: #080708;

	--node_ed_main_color: #9131fd;

	--red: #EC2351;
	--orange: #DB6239;
	--velvet: #8F3659;
	--purple: #602656;
	--blue: #2E1A4F;
	
	--dotted-background: url("../svg/Background_Dot.svg");
	--cross-background: url("../svg/Background_Cross.svg");*/
	

	--mainbg: #232525;
	--textbg1: #101010;
	--shadow1: #2e3334;
	--shadow2: #181919;
	--text1: #e6e6e6;

	--node_ed_main_color: #9131fd;

	--red: #EF436B;
	--orange: #DF7653;
	--velvet: #C15C85;
	--purple: #BF5FAF;
	--blue: #8D66CC;

	--dotted-background: url("../svg/Background_Dot_Darkmode.svg");
	--cross-background: url("../svg/Background_Cross_Darkmode.svg");
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

/* Constants */

.neuIndentShadow {
	box-shadow: 
		.2vh .2vh .2vh 0 var(--shadow1),
		inset -.2vh -.2vh .2vh 0 var(--shadow1),
		-.2vh -.2vh .2vh 0 var(--shadow2),
		inset .2vh .2vh .2vh 0 var(--shadow2)
    ;
}

.neuIndentShadowNarrow {
	box-shadow: 
		.1vh .1vh .1vh 0 var(--shadow1),
		inset -.1vh -.1vh .1vh 0 var(--shadow1),
		-.1vh -.1vh .1vh 0 var(--shadow2),
		inset .1vh .1vh .1vh 0 var(--shadow2)
    ;
}

.neuIndentShadowLight {
	box-shadow: 
		.4vh .4vh .4vh 0 var(--shadow1),
		inset -.4vh -.4vh .4vh 0 var(--shadow1),
		-.4vh -.4vh .4vh 0 var(--shadow2),
		inset .4vh .4vh .4vh 0 var(--shadow2)
    ;
}

.neuIndentShadowLightOnHover:hover {
	box-shadow: 
		.4vh .4vh .4vh 0 var(--shadow1),
		inset -.4vh -.4vh .4vh 0 var(--shadow1),
		-.4vh -.4vh .4vh 0 var(--shadow2),
		inset .4vh .4vh .4vh 0 var(--shadow2)
    ;
}

.neuOutdentShadow {
	box-shadow: 
		.2vh .2vh .2vh 0 var(--shadow2),
		inset -.2vh -.2vh .2vh 0 var(--shadow2),
		-.2vh -.2vh .2vh 0 var(--shadow1),
		inset .2vh .2vh .2vh 0 var(--shadow1)
    ;
}

.neuOutdentShadowRim {
	box-shadow: 
		.2vh .2vh .2vh 0 var(--shadow2),
		-.2vh -.2vh .2vh 0 var(--shadow1)
    ;
}

.neuOutdentShadowLight {
	box-shadow: 
		.4vh .4vh .4vh 0 var(--shadow2),
		inset -.4vh -.4vh .4vh 0 var(--shadow2),
		-.4vh -.4vh .4vh 0 var(--shadow1),
		inset .4vh .4vh .4vh 0 var(--shadow1)
    ;
}

.neuOutdentShadowLightOnHover:hover {
	box-shadow: 
		.4vh .4vh .4vh 0 var(--shadow2),
		inset -.4vh -.4vh .4vh 0 var(--shadow2),
		-.4vh -.4vh .4vh 0 var(--shadow1),
		inset .4vh .4vh .4vh 0 var(--shadow1)
    ;
}


@keyframes flyInFromLeft {
	from {
		transform: translateX(-2vh);
		opacity: 0;
	}
}